@{
    ViewData["Title"] = "Hello Mockups";
}

<div class="text-left">
    <h1 class="display-6">Mockups</h1>
</div>
<div class="list">
    <ul>
        <li><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a></li>
        <li><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="QuizResult">QuizResult</a></li>
    </ul>
</div>