@model laba12.Models.Numbers
@{
    ViewData["Title"] = "Result - Backend2";
}
<div class="text-left">
    <h1 class="display-2">Result</h1>
    <h2 class="display-6">@Model.num1 @Model.operation @Model.num2 = @Model.result</h2>
</div>